
/*стиль для контента*/

body {
    margin: 10px;
    padding: 0;
    background-color: snow;
    font-family: Verdana;
    font-size: 14;
}

span {font-style: italic;
}


.list-container {
    border-style: solid;
    border-width: 0.5px;
    border-color: darkgray;
    display: inline-block;
    padding-right: 20px;
}

.list-container>p {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
}

.list-container>ol>li {
    margin-bottom: 6px;
}

.list-container>ol {
    margin-top: 10px;
}

.list-container>ol>li>ol>li {
    margin-top: 6px;
}

.img-container {
    float: right;
    border-style: solid;
    border-color: darkgray;
    border-width: 0.5px;
    padding: 10px;
    padding-top: 0.5px;
    margin-left: 10px;

}

.img-container>div {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo-html {
    max-width: 70px;
    margin-top: 5px;

}

.top-bottom {
    display: inline;
    font-size: 16px;
    width: 100%;
    height: 20px;
    background-color: #b1deff;
    text-align:center;
}

.top-bottom>p {
    margin-top: 1px;
    font-size: 16px;
    margin-bottom: 2px;
}

.htmletc {
    max-width: 70px;
}

.h1 {
    display: flex;
    border-bottom-style: solid;
    border-width: 0.5px;
    border-color: darkgray;
    margin: 10px;
    padding0;
}

.h1>h1 {
    margin-bottom: 7px;
}
/*стиль для верхней панели*/

.nav-bar {
    display: flex;
    justify-content: space-between;
    background-color: #b1deff;
}

.nav-bar>nav>ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}
.nav-bar>nav>ul>li>a {
    display: block;
    padding: 10px;
    border-style: solid;
    border-width: 0.5px;
}

@media (max-width: 900px) {
    .nav-bar {
        flex-direction: column;
    }
}

/*тут уже с блоками контента*/

.page {
    display: flex;
    justify-content: center;

}

.header {
    width: 700px;
}


.section {
    width: max-content;
}

.content {
    padding-left: 15px;
}

.header>ol {
    list-style: none;
    /*border-bottom-style: solid;*/
    /*border-width: 0.5px;*/
    /*border-color: darkgray;*/
    margin: 10px;
    padding: 0;
    padding-bottom: 10px;
    font-size: 12px;
}

.header>ol>li {
    margin-bottom: 4px;
}


.header>ol>p {
    border-bottom-style: solid;
    border-width: 0.5px;
    border-color: darkgray;
    color: #737373;
    font-size: 12px;
    padding-bottom: 2px;
    margin-bottom: 7px;
    border-image: linear-gradient(to left,transparent, grey, transparent);
    border-image-slice: 1;
}

.header>div {
    width: 100%;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 40px;
}

.header>div>img {
    width: 80%;

}

.content {
    border-left-style: solid;
    border-width: 0.5px;
    border-color: #aadcff;
}
